.landing-page {
    padding: 0 12vw;
    display: flex;
    flex-direction: row-reverse;
    /*
    justify-content: space-between;
    */
    -moz-box-align: center;
    align-items: center;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.landing-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.landing-page .content h1 {
    font-size: 48px;
    line-height: 56px;
}

.landing-page .texts p {
    width: 90%;
}

.landing-page .plate {
    width: 580px;
    position: relative;
    left: 80px;
    max-width: 90vw;
    margin-left: -5vw;
}

.landing-page button {
    transition: ease .5s;
}

.ingredients {
    width: 270px;
    z-index: -9;
}

.one {
    left: -25px;
    top: 600px;
    transform: rotate(58deg);
}

.operation-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 28vh 0;
}

.operation-cards .card {
    width: 280px;
    height: 135px;
    margin: 30px;
    box-sizing: border-box;
    float: left;
}

.operation-cards .card p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: var(--black);
}

.about {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
}

.about .plate {
    width: 100%;
    height: auto;
}

.about .content {
    padding-right: 10rem;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.about .content .texts {
    width: 80%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .bg {
    height: 115vh;
    left: 0px;
    top: 1183px;
}

.buttons, .buttons a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    width: 100%
}

.buttons p {
    font-weight: normal;
}

.buttons a:last-child {
    width: 10rem;
}

.two {
    top: 1920px;
    right: -17px;
    transform: rotate(-64deg);
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: relative;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.work .texts {
    width: 31vw;
}

.work-cards {
/*
    display: flex;
    width: 100%;
    justify-content: space-between;
*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 7vh 0;
}

.work-cards .card {
    width: 245px;
    height: 18rem;
    padding: 32px 20px 65px;
    justify-content: space-between;
    margin: 15px;
    box-sizing: border-box;
    float: left;
}

.work-cards .card h3 {
    padding-top: -1rem;
}

.card .header img {
    height: 3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > p {
    width: min(480px, 55vw);
    text-align: center;
}

.menu .product-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 7vh 0;
}

.menu .card {
    /*width: 24vw;*/
    margin: 15px;
    box-sizing: border-box;
    float: left;
}

.menu .card img {
    width: 100%;
}

.menu .card .content {
    width: 81%;
    padding: 23px 0 15px 0;
    justify-content: space-between;
}

.menu .card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .card h3 {
    font-weight: 500;
    font-size: 2vw;
}

.menu .card span {
    color: var(--dark-grey);
    font-size: 10px;
    position: relative;
    top: -5px;
    display: block;
    line-height: 1.6;
    text-align: inherit;
}

.menu .card p {
    color: var(--black);
    font-size: 12px;
    line-height: 18px;
}

.menu .card .info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu .card .info .add-button  {
    display: flex;
    justify-content: flex-end;
}

.menu .card .info .add-button a {
    background-color: var(--yellow);
    width: 8vw;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white);
    font-size: 50px;
    font-weight: 500;
    border-radius: 40px 0px 5px;
}

.testimonial {
    text-align: center;
    padding: 15vh 31vw;
}

.testimonial .feedback-cards {
    padding: 7vh 0;
}

.testimonial .feedback-cards .card {
    padding: 21px 46px;
    height: 300px;
    width: 570px;
}

.testimonial .feedback-cards .card img {
    border: 3px solid var(--yellow);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.testimonial .feedback-cards .card p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    margin: 2vh 0;
}

.testimonial .feedback-cards .card .author {
    display: flex;
    align-items: center;
}

.testimonial .feedback-cards .card .author p {
    padding-bottom: 0;
}

.testimonial .feedback-cards .card span {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: var(--grey);
}

.testimonial .feedback-cards .card span::before {
    content: ". ";
    color: transparent;
}

.question {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact {
    position: relative;
	width: 790px;
    display: flex;
    align-items: center;
}

.contact input {
    color: var(--grey);
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 500px;
    border: none;
    font-size: 20px;
    padding: 1rem;
    box-shadow: var(--box-shadow, 0 0 #0000);
}

.contact  button {
    position: absolute;
    right: .8rem;
    top: .8rem;
    height: 75px;
    font-weight: normal;
    font-size: 20px;
}

@media(min-width: 1024px){
    .menu .card{
        width: 24vw;
    }
}

@media(max-width: 1024px){

    .one {
        display: none;
    }

    header .bg {
        height: 80vh;
    }

    .landing-page {
        -moz-box-align: unset;
        align-items: unset;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    }
    
    .landing-page .plate {
        left: 0px;
    }

    .landing-page .content {
        align-items: center;
        text-align: center;
    }

    .about {
        flex-direction: column;
    }

    .about .content {
        padding: 0 5rem;
        text-align: center;
        align-items: center;
    }

    .about .content .texts {
        width: 100%;
    }

    .about .content .buttons {
        gap: 30px;
    }

    .work .texts {
        width: 60vw;
    }
    
    .menu .card{
        width: 36vw;
    }

    .menu .card h3 {
        font-size: 3vw;
    }
}
@media(max-width: 750px){
    .menu .card{
        width: 48vw;
    }
}