.landing-page {
    padding: 0 12vw;
    display: flex;
    justify-content: space-between;
}

.landing-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.landing-page .content h1 {
    font-size: 48px;
    line-height: 56px;
}

.landing-page .texts p {
    width: 90%;
}

.landing-page .plate {
    width: 580px;
    position: relative;
    left: 80px;
}

.landing-page::after {
    content: "";
    width: 550px;
    height: 550px;
    right: 7.5vw;
    top: 15vh;
    border: 2px solid #fff;
    border-radius: 100%;
    position: absolute;
    z-index: -8;
}

.landing-page button {
    transition: ease .5s;
}

.ingredients {
    width: 270px;
    z-index: -9;
}

.one {
    left: -25px;
    top: 600px;
    transform: rotate(58deg);
}

.operation-cards {
    padding: 17rem 15rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.operation-cards .card {
    width: 280px;
    height: 135px;
}

.operation-cards .card p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: var(--black);
}

.about {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
}

.about .plate {
    width: 750px;
    height: auto;
}

.about .content {
    padding-right: 10rem;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.about .content .texts {
    width: 80%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .bg {
    height: 115vh;
    left: 0px;
    top: 1183px;
}

.buttons, .buttons a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    width: 100%
}

.buttons p {
    font-weight: normal;
}

.buttons a:last-child {
    width: 10rem;
}

.two {
    top: 1920px;
    right: -17px;
    transform: rotate(-64deg);
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: relative;
    text-align: center;
    height: 93vh;
    justify-content: space-between;
    padding: 7rem 20rem;
}

.work .texts {
    width: 31vw;
}

.work-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.work-cards .card {
    width: 245px;
    height: 18rem;
    padding: 32px 20px 65px;
    justify-content: space-between;
}

.work-cards .card h3 {
    padding-top: -1rem;
}

.card .header img {
    height: 3rem;
}