* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --yellow: #FF9F0D;
    --black: #121212;
    --dark-grey: #404040;
    --grey: #6C6C6C;
    --light-grey: BBBBBB;
    --white: #FFFFFF;
    --green: #97C247;
    --box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.10);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1, h2 {
    color: var(--dark-grey);
}

h3 {
    color: var(--black);
}

p {
    color: var(--grey);
}

button {
    width: 10rem;
    height: 3rem;
    background-color: var(--yellow);
    border: none;
    border-radius: 500px;
    color: var(--white);
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

button {
    transition: ease .5s;
}

button:hover {
    transform: scale(105%);
}

a {
    text-decoration: none;
}

small {
    color: var(--yellow);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.texts p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.bg, .ingredients {
    position: absolute;
    z-index: -10;
}

.plate {
    z-index: 5;
}


.card {
    box-shadow: var(--box-shadow, 0 0 #0000);
    border-radius: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease .5s;
}

.card:hover {
    transform: scale(110%);
}

.card span {
    font-size: 12px;
    text-align: center;
    color: var(--dark-grey);
}